{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Application</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <form id="searchForm" class="input-section">
            <div class="form-group">
                <label for="target_url">目标 URL:</label>
                <input type="text" id="target_url" name="target_url" placeholder="输入目标 URL">
            </div>

            <div class="form-group">
                <label for="enginesearchInput">搜索引擎:</label>
                <div id="enginesearchInputWrapper" class="input-mock">
                    <span id="selectedEnginesDisplay"></span>
                    <input type="text" id="enginesearchInput" name="enginesearch" placeholder="请选择搜索引擎" readonly>
                </div>
                <div id="enginesearchDropdown" class="dropdown-content">
                    <div class="option" data-value="google">Google<span class="checkmark"></span></div>
                    <div class="option" data-value="bing">Bing<span class="checkmark"></span></div>
                    <div class="option" data-value="yahoo">Yahoo<span class="checkmark"></span></div>
                    <div class="option" data-value="duckduckgo">Duckduckgo<span class="checkmark"></span></div>
                    <div class="option" data-value="startpage">Startpage<span class="checkmark"></span></div>
                    <div class="option" data-value="aol">Aol<span class="checkmark"></span></div>
                    <div class="option" data-value="dogpile">Dogpile<span class="checkmark"></span></div>
                    <div class="option" data-value="ask">Ask<span class="checkmark"></span></div>
                    <div class="option" data-value="mojeek">Mojeek<span class="checkmark"></span></div>
                    <div class="option" data-value="brave">Brave<span class="checkmark"></span></div>
                    <div class="option" data-value="torch">Torch<span class="checkmark"></span></div>
                </div>
            </div>

            <div class="form-group">
                <label for="pages">页数:</label>
                <input type="number" id="pages" name="pages" placeholder="输入页数">
            </div>

            <div class="form-group">
                <label for="keyword">关键词:</label>
                <input type="text" id="keyword" name="keyword" placeholder="输入关键词">
            </div>
        
            <div class="form-group">
                <label for="after">开始时间:</label>
                <input type="text" id="after" name="after" placeholder="输入开始日期">
            </div>
        
            <div class="form-group">
                <label for="before">结束时间:</label>
                <input type="text" id="before" name="before" placeholder="输入结束日期">
            </div>
        
            <div class="form-group">
                <label for="name">名称:</label>
                <input type="text" id="name" name="name" placeholder="输入名称">
            </div>
        
            <div class="form-group">
                <label for="minutes">分钟数:</label>
                <input type="number" id="minutes" name="minutes" placeholder="输入分钟数">
            </div>
        
            <div class="form-group">
                <label for="proxy">代理:</label>
                <input type="text" id="proxy" name="proxy" placeholder="输入代理">
            </div>
        
            <button type="submit">搜索</button>
        </form>        
        <div class="output-section">
            <div class="left-section">
                <h2>UUID List</h2>
                <button id="refreshListBtn">Refresh List</button>
                <ul id="uuidList"></ul>
            </div>
            <div class="right-section" id="jsonDisplay"></div>
        </div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
